.SrcViewer {
  background: hsla(0, 52%, 96%, 0.4);
  position: relative;
}

.SrcViewer__input {
  z-index: 1;
  color: transparent;
  caret-color: black;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  border: none;
  resize: none;

  outline: none;
  padding: var(--padding-size);
  margin: 0;
  white-space: inherit;
  background: transparent;

  position: absolute;
  top: 0;
  right: 0;
  min-height: 100%;
  width: 100%;
}

.SrcViewer__input-highlighter {
  position: relative;
  unicode-bidi: embed;
  white-space: inherit;
  padding: var(--padding-size);
  z-index: 0;
  overflow: auto;
}
